* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #fff;
  background-color: #1b1b32;
  margin-top: 40px;
}

h1 {
  font-size: 4rem;
}

.tareas-lista-principal {
  width: 80%;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 0 auto;
  border-radius: 26px;
}